<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app='ControllerAsApp'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" id="list1" ng-controller='ShoppingListController1 as list1'>
     <h2>To Buy:</h2>
     <ul>
        <li ng-repeat="item in list1.items">
          Buy {{ item.quantity }} {{ item.name }}(s)
          <button class="btn btn-default" ng-click="list1.switchItemBasket($index); list1.checkList();"><span class="glyphicon glyphicon-ok"></span>Bought</button>
        </li>
     </ul>
     <div ng-if="list1.message" class="emptyMessage">{{list1.message}}</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" id="list2" ng-controller='ShoppingListController2 as list2' ng-init="list2.checkList();">
     <h2>Already Bought:</h2>     
     <ul>
       <li ng-repeat="item in list2.items">
          Bought {{ item.quantity }} {{ item.name }}(s)
          <span ng-init="list2.checkList();"></span>
        </li>
     </ul>
     <div ng-if="list2.message" class="emptyMessage">{{list2.message}}</div>
  </div>
</div>

</body>
</html>
