<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Menu Search</title>
  </head>
  <body>
    <h1>Menu Search</h1>

    <div ng-controller='NarrowItDownController as menu'>    
      
      <input type="text" ng-model="menu.searchParam" placeholder="Search Item Menu">
      <button ng-click="menu.searchItems();">Narrow It Down For Me!</button>
      <span ng-if="menu.foundBool"> found: {{menu.found.length}} item(s)</span>

      <found-items
         items="menu.found"         
         on-remove="menu.deleteThisItem(index)">
      </found-items>
    </div>

    </div>
  </body>
</html>
